<% @soumission_partenaire = soumission_partenaire %>
<div id="<%= "soumission_partenaire_#{soumission_partenaire.id}" %>">
	<p>
		<% @class = '' %>
		<% if !soumission_partenaire.nom.nil? %>
			<% if soumission_partenaire.nom.empty?  %>
				<% @class = "blank"  %>
				<% soumission_partenaire.nom = "Nom" %>
			<% end %>
		<% else %>
			<% @class = "blank"  %>
			<% soumission_partenaire.nom = "Nom" %>
		<% end %>

		<%= text_field 'soumission_partenaire[]', 'nom',
			{ :class => 'four_cell required_blank '+@class,
				:onblur => "if (this.value == '') { $(this).addClassName('required_blank'); this.value='Nom' };",
				:onfocus =>"if (this.value == 'Nom') { $(this).removeClassName('required_blank'); this.value=''; };"
			} %>
		
		
		<% @class = '' %>
		<% if !soumission_partenaire.etablissement_gestionnaire.nil? %>
			<% if soumission_partenaire.etablissement_gestionnaire.empty?  %>
				<% @class = "blank"  %>
				<% soumission_partenaire.etablissement_gestionnaire = "Etab. gestionnaire" %>
			<% end %>
		<% else %>
			<% @class = "blank"  %>
			<% soumission_partenaire.etablissement_gestionnaire = "Etab. gestionnaire" %>
		<% end %>
		
		<%= text_field 'soumission_partenaire[]', 'etablissement_gestionnaire',
			{ :class => 'four_cell '+@class,
				:onblur => "if (this.value == '') { $(this).addClassName('blank'); this.value='Etab. gestionnaire' };",
				:onfocus =>"if (this.value == 'Etab. gestionnaire') { $(this).removeClassName('blank'); this.value=''; };"
				} %>

		<% @class = '' %>
		<% if !soumission_partenaire.ville.nil? %>
			<% if soumission_partenaire.ville.empty?  %>
				<% @class = "blank"  %>
				<% soumission_partenaire.ville = "Ville" %>
			<% end %>
		<% else %>
			<% @class = "blank"  %>
			<% soumission_partenaire.ville = "Ville" %>
		<% end %>
			
		<%= text_field 'soumission_partenaire[]', 'ville',
			{ :class => 'four_cell '+@class,
				:value => @value,
				:onblur => "if (this.value == '') { $(this).addClassName('blank'); this.value='Ville' };",
				:onfocus =>"if (this.value == 'Ville') { $(this).removeClassName('blank'); this.value=''; };"
				} %>

		<% @class = '' %>
		<% if !soumission_partenaire.pays.nil? %>
			<% if soumission_partenaire.pays.empty?  %>
				<% @class = "blank"  %>
				<% soumission_partenaire.pays = "Pays" %>
			<% end %>
		<% else %>
			<% @class = "blank"  %>
			<% soumission_partenaire.pays = "Pays" %>
		<% end %>

		<%= text_field 'soumission_partenaire[]', 'pays',
			{ :class => 'four_cell '+@class,
				:value => @value,
				:onblur => "if (this.value == '') { $(this).addClassName('blank'); this.value='Pays' };",
				:onfocus =>"if (this.value == 'Pays') { $(this).removeClassName('blank'); this.value=''; };"
			} %>

		<% unless controller.action_name == 'show' %>
			<%= sub_list_remove_link soumission_partenaire, 'SoumissionPartenaire' %>
		<% end %>
</p>
</div>