<h1>New departement_subscription</h1>

<%= error_messages_for :departement_subscription %>

<% form_for(:departement_subscription, :url => departement_subscriptions_path) do |f| %>
  <p>
    <b>Projet</b><br />
    <%= f.text_field :projet_id %>
  </p>

  <p>
    <b>Departement</b><br />
    <%= f.text_field :departement_id %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <b>Updated at</b><br />
    <%= f.datetime_select :updated_at %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', departement_subscriptions_path %>