<p>
  <b>Sous contrat:</b>
  <%=h @sous_contrat_notification.sous_contrat_id %>
</p>

<p>
  <b>Ma fonctionnement:</b>
  <%=h @sous_contrat_notification.ma_fonctionnement %>
</p>

<p>
  <b>Ma equipement:</b>
  <%=h @sous_contrat_notification.ma_equipement %>
</p>

<p>
  <b>Ma salaire:</b>
  <%=h @sous_contrat_notification.ma_salaire %>
</p>

<p>
  <b>Ma mission:</b>
  <%=h @sous_contrat_notification.ma_mission %>
</p>

<p>
  <b>Ma non ventile:</b>
  <%=h @sous_contrat_notification.ma_non_ventile %>
</p>

<p>
  <b>Ma couts indirects:</b>
  <%=h @sous_contrat_notification.ma_couts_indirects %>
</p>

<p>
  <b>Ma allocation:</b>
  <%=h @sous_contrat_notification.ma_allocation %>
</p>

<p>
  <b>Ma total:</b>
  <%=h @sous_contrat_notification.ma_total %>
</p>


<%= link_to 'Edit', edit_sous_contrat_notification_path(@sous_contrat_notification) %> |
<%= link_to 'Back', sous_contrat_notifications_path %>