<% if !@departement_subscriptions.empty? %>
<% for departement_subscription in @departement_subscriptions %>
<div class="small_infos_actions" id="departement_subscription_<%= departement_subscription.id %>">
	<div class="infos">
		<div class="name">
			<%= link_to departement_subscription.departement.nom, departement_path(departement_subscription.departement) %>
			(<%= link_to departement_subscription.departement.laboratoire.nom, laboratoire_path(departement_subscription.departement.laboratoire) %>)
		</div>
		<div class="description"><%=h truncate(departement_subscription.departement.description,:length =>80,:ommission =>"...") %></div>
	</div>
	<div class="actions">
		<%= link_to_remote "",{ :url => departement_subscription_path(departement_subscription),  :method => :delete } , :class => 'delete'%>			
	</div>
	<div style="clear:both;"></div>
</div>
<% end %>
<% end %>
