<%= render :partial => 'saved_param' %>

<div id="result_paginate">
  <div class="count">
    <% add = '' %>
    <% add = 's' if @depenses.total_entries > 1  %>
    <%= @depenses.total_entries %> dépense<%= add %> trouvée<%= add %>
  </div>
  <%= will_paginate @depenses,
      :renderer => "PaginationLinkRenderer",
      :params => {:action => "list"},
      :remote => {:with => "Form.serialize('saved_params')+'&'+Form.serialize('form_recherche')", :update => "list"},
      :options =>{:div => "list"} %>
  <div style="clear:both;"></div>
</div>

<table class="depenses">
  <thead>
    <tr>
      <th style="border:none;" colspan="8"></th>
      <th style="border-color:#ccc;text-align:center;" colspan="4">Montant</th>
    </tr>
    <tr>
      <th class="soldee"></th>
      <th class="verrou"></th>
      <th>Ligne</th>
      <th>
	      <a href="" onclick="tableOrderBy('date_commande');return false;"
	        <% if @order_value == 'date_commande' %> <%= "class='"+@order_type+"'" %><% end %>>
	          Date <br/> (millésime)
	      </a>
      </th>
      <th>
      	<a href="" onclick="tableOrderBy('reference');return false;"
      	   <% if @order_value == 'reference' %> <%= "class='"+@order_type+"'" %><% end %>>
      	  N° mission ou commande
      	</a>
      </th>
      <th>
        <a href="" onclick="tableOrderBy('compte_budgetaire');return false;"
           <% if @order_value == 'compte_budgetaire' %> <%= "class='"+@order_type+"'" %><% end %>>
          Compte Budg.
        </a>
      </th>
      <th>
        <a href="" onclick="tableOrderBy('code_analytique');return false;"
           <% if @order_value == 'code_analytique' %> <%= "class='"+@order_type+"'" %><% end %>>
          Code Ana.
        </a>
      </th>
      <th>
    	<a href="" onclick="tableOrderBy('intitule');return false;"
    	   <% if @order_value == 'intitule' %> <%= "class='"+@order_type+"'" %><% end %>>
    	  Intitulé
    	</a>
      </th>
      <th>
      <a href="" onclick="tableOrderBy('fournisseur');return false;"
        <% if @order_value == 'fournisseur' %> <%= "class='"+@order_type+"'" %><% end %>>
        Fournisseur
      </a>
      </th>
      <th>
      <a href="" onclick="tableOrderBy('agent');return false;"
        <% if @order_value == 'agent' %> <%= "class='"+@order_type+"'" %><% end %>>
        Agent
      </a>
      </th>

      <th class="money">
    	<a href="" onclick="tableOrderBy('montant_engage');return false;"
    	   <% if @order_value == 'montant_engage' %> <%= "class='"+@order_type+"'" %><% end %>>
    	  Engagé
    	</a>
      </th>
      <th class="money">
  	  <a href="" onclick="tableOrderBy('montant_paye_htr');return false;"
    	  <% if @order_value == 'montant_paye_htr' %> <%= "class='"+@order_type+"'" %><% end %>>
    	  Payé HTR
    	</a>
      </th>
      <th class="money">
    	<a href="" onclick="tableOrderBy('montant_paye_ht');return false;"
    	   <% if @order_value == 'montant_paye_ht' %> <%= "class='"+@order_type+"'" %><% end %>>
    	  Payé HT
    	</a>
      </th>
      <th class="money">
    	<a href="" onclick="tableOrderBy('montant_paye_ttc');return false;"
    	   <% if @order_value == 'montant_paye_ttc' %> <%= "class='"+@order_type+"'" %><% end %>>
    	  Payé TTC
    	</a>
      </th>
		<th class="actions"></th>
    </tr>
  </thead>
  <tbody id="depense_list">
    <%
		@subtotal_montant_engages = 0 
    @subtotal_montant_paye_htr = 0
    @subtotal_montant_paye_ht =  0
    @subtotal_montant_paye_ttc = 0
    for depense in @depenses 
      montant_engage =  depense.montant_engage
      montant_paye_htr = depense.montant_paye('htr')
      montant_paye_ht = depense.montant_paye('ht')
      montant_paye_ttc =  depense.montant_paye('ttc')
      @mission = false
      @tr_class =  cycle('odd', 'even') %>
      <tr class="depense <%= @tr_class %>">
	      <%
        soldee_class = 'non_soldee'
        soldee_class = 'soldee' if depense.commande_solde
        %>
	      <td class="<%= soldee_class %> "></td>
	        <%
          verrou_class = 'no-verrou'
          verrou_class = 'verrou' if depense.come_from_inria?
          %>
        <td class="<%= verrou_class %> "></td>
      	<td><%= link_to depense.ligne.nom, ligne_path(depense.ligne) %></td>
      	<td><%= french_small_date depense.date_commande %>
          <% if !depense.millesime.blank? %><br/><%= display_millesime depense %><% end %>
	      <td style="min-width:60px"><%=h depense.reference %></td>
	      <td><%=h depense.compte_budgetaire %></td>
	      <td><%=h depense.code_analytique %></td>
	      <td>
	      <% toggle_check = "" %>
    	  <%- if depense.is_a?(DepenseFonctionnement) -%>
    	    <%= link_to simple_format(depense.intitule), ligne_depense_fonctionnement_path(depense.ligne, depense) %>
    	    <% @factures = depense.depense_fonctionnement_factures %>
    	    <% toggle_check = "fonctionnement" %>
    	  <%- end -%>
    	  <%- if depense.is_a?(DepenseEquipement) -%>
    	    <%= link_to simple_format(depense.intitule), ligne_depense_equipement_path(depense.ligne, depense) %>
    	    <% @factures = depense.depense_equipement_factures %>
    	    <% toggle_check = "equipement" %>
    	  <%- end -%>
    	  <%- if depense.is_a?(DepenseNonVentilee) -%>
    	    <%= link_to simple_format(depense.intitule), ligne_depense_non_ventilee_path(depense.ligne, depense) %>
    	    <% @factures = depense.depense_non_ventilee_factures %>
    	    <% toggle_check = "non_ventilee" %>
    	  <%- end -%>
    	  <%- if depense.is_a?(DepenseMission) -%>
    	    <%= link_to simple_format(depense.intitule), ligne_depense_mission_path(depense.ligne, depense) %>
    	    <% @mission = true
    	       @factures = depense.depense_mission_factures %>
    	    <% toggle_check = "mission" %>
    	  <%- end -%>
    	</td>
    	<td  style="min-width:85px">
        <%- if depense.is_a?(DepenseFonctionnement) || depense.is_a?(DepenseEquipement) || depense.is_a?(DepenseNonVentilee) -%>
          <abbr title="<%= depense.fournisseur %>"><%= truncate(depense.fournisseur, :length =>25, :ommission => '...' )%></abbr>
        <%- end -%>
        
      </td>
      <td>
        <%- if depense.is_a?(DepenseMission) -%>
          <abbr title="<%= depense.agent %>"><%= truncate( depense.agent, :length =>25, :ommission => '...' )%></abbr>
        <%- end -%>
      </td>
    	<td class="money"
    	    <%- if depense.commande_solde? -%>
    	      style="font-weight: bold;text-decoration : underline;"
    	    <%- end -%>
    	    ><%= my_number_to_currency montant_engage %>
    	</td>
    	<td class="money">
    	  <%= my_number_to_currency montant_paye_htr %>
    	</td>
    	<td class="money">
    	  <%= my_number_to_currency montant_paye_ht %>
    	</td>
    	<td class="money">
    	  <%= my_number_to_currency montant_paye_ttc %>
    	</td>
      <%- if depense.ligne.contrat.is_budget_editable? current_user -%>
        <%# if depense.ligne.contrat.come_from_inria? %>
          <% if depense.verif && toggle_check != "" %>
            <td class="actions_depenses" id=<%= "depense_toggle_verif_id_"+depense.id.to_s %>><a href="" onClick="toggle_verif_depense('<%=toggle_check%>','<%=depense.id%>',0);return false;" title="Cette d&eacute;pense est v&eacute;rifi&eacute;e ! (Cliquez-moi pour annuler)"><%= image_tag "verif.jpg" %></a> </td>
          <% else %>
            <td class="actions_depenses" id=<%= "depense_toggle_verif_id_"+depense.id.to_s %>><a href="" onClick="toggle_verif_depense('<%=toggle_check%>','<%=depense.id%>',1);return false;" title="Cette d&eacute;pense n'est pas v&eacute;rifi&eacute;e. (Cliquez-moi pour valider la v&eacute;rification)"><%= image_tag "question_mark.png" %></a> </td>
          <% end %>
        <%# end %>
      <%- end -%>    
    </tr>
    
    <%- if @show_factures == 'yes' && @factures.count > 0 -%>
      <%= render :partial => 'list_show_toutes_depenses_hors_salaires_factures', :object => @factures %>
    <%- end -%>
    <% @subtotal_montant_engages =  @subtotal_montant_engages + montant_engage
       @subtotal_montant_paye_htr = @subtotal_montant_paye_htr + montant_paye_htr
       @subtotal_montant_paye_ht =  @subtotal_montant_paye_ht + montant_paye_ht
       @subtotal_montant_paye_ttc = @subtotal_montant_paye_ttc + montant_paye_ttc
    end -%>

    <% @colspan_totals = 9 %>
    <%= render :partial => 'list_totals_default' %> 
 
  </tbody>
</table>
