<form id="saved_params">
	<input type="hidden" id="saved_order_type" name="saved_order_type" value="<%= @order_type %>" />
	<input type="hidden" id="saved_order_value" name="saved_order_value"  value="<%= @order_value %>" />
	<input type="hidden" id="per_page" name="per_page"  value="<%= @per_page %>" />
	<input type="hidden" id="type_depense" name="type_depense"  value="<%= @type_depense %>" />
	<input type="hidden" id="data" name="data"  value="<%= params['data'] %>" />
	<input type="hidden" id="contrat_clos" name="contrat_clos"  value="<%= @show_contrat_clos %>" />
	<input type="hidden" id="show_factures" name="show_factures"  value="<%= @show_factures %>" />
</form>
