<h1>Listing notification_europe_partenaires</h1>

<table>
  <tr>
    <th>Notification</th>
    <th>Nom</th>
    <th>Etablissement gestionnaire</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Localisation</th>
  </tr>
  
<% for notification_europe_partenaire in @notification_europe_partenaires %>
  <tr>
    <td><%=h notification_europe_partenaire.notification_id %></td>
    <td><%=h notification_europe_partenaire.nom %></td>
    <td><%=h notification_europe_partenaire.etablissement_gestionnaire %></td>
    <td><%=h notification_europe_partenaire.ville %></td>
    <td><%=h notification_europe_partenaire.pays %></td>
    <td><%=h notification_europe_partenaire.localisation %></td>
    <td><%= link_to 'Show', notification_europe_partenaire_path(notification_europe_partenaire) %></td>
    <td><%= link_to 'Edit', edit_notification_europe_partenaire_path(notification_europe_partenaire) %></td>
    <td><%= link_to 'Destroy', notification_europe_partenaire_path(notification_europe_partenaire), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New notification_europe_partenaire', new_notification_europe_partenaire_path %>