<p>
  <b>Notification:</b>
  <%=h @notification_europe_partenaire.notification_id %>
</p>

<p>
  <b>Nom:</b>
  <%=h @notification_europe_partenaire.nom %>
</p>

<p>
  <b>Etablissement gestionnaire:</b>
  <%=h @notification_europe_partenaire.etablissement_gestionnaire %>
</p>

<p>
  <b>Ville:</b>
  <%=h @notification_europe_partenaire.ville %>
</p>

<p>
  <b>Pays:</b>
  <%=h @notification_europe_partenaire.pays %>
</p>

<p>
  <b>Localisation:</b>
  <%=h @notification_europe_partenaire.localisation %>
</p>


<%= link_to 'Edit', edit_notification_europe_partenaire_path(@notification_europe_partenaire) %> |
<%= link_to 'Back', notification_europe_partenaires_path %>