<% @notification_europe_partenaire = notification_europe_partenaire %>
<div id="<%= "notification_europe_partenaire_#{notification_europe_partenaire.id}" %>">
	<p>
		
		<% @class = '' %>
		<% if !notification_europe_partenaire.nom.nil? %>
			<% if notification_europe_partenaire.nom.empty?  %>
				<% @class = "blank"  %>
				<% notification_europe_partenaire.nom = "Nom" %>
			<% end %>
		<% else %>
			<% @class = "blank"  %>
			<% notification_europe_partenaire.nom = "Nom" %>
		<% end %>

		<%= text_field 'notification_europe_partenaire[]', 'nom',
			{ :class => 'four_cell required '+@class,
				:onblur => "if (this.value == '') { $(this).addClassName('blank'); this.value='Nom' };",
				:onfocus =>"if (this.value == 'Nom') { $(this).removeClassName('blank'); this.value=''; };"
			} %>
		
		<% @class = '' %>
		<% if !notification_europe_partenaire.etablissement_gestionnaire.nil? %>
			<% if notification_europe_partenaire.etablissement_gestionnaire.empty?  %>
				<% @class = "blank"  %>
				<% notification_europe_partenaire.etablissement_gestionnaire = "Etab. gestionnaire" %>
			<% end %>
		<% else %>
			<% @class = "blank"  %>
			<% notification_europe_partenaire.etablissement_gestionnaire = "Etab. gestionnaire" %>
		<% end %>

		<%= text_field 'notification_europe_partenaire[]', 'etablissement_gestionnaire',
			{ :class => 'four_cell '+@class,
				:onblur => "if (this.value == '') { $(this).addClassName('blank'); this.value='Etab. gestionnaire' };",
				:onfocus =>"if (this.value == 'Etab. gestionnaire') { $(this).removeClassName('blank'); this.value=''; };"
			} %>


			<% @class = '' %>
			<% if !notification_europe_partenaire.ville.nil? %>
				<% if notification_europe_partenaire.ville.empty?  %>
					<% @class = "blank"  %>
					<% notification_europe_partenaire.ville = "Ville" %>
				<% end %>
			<% else %>
				<% @class = "blank"  %>
				<% notification_europe_partenaire.ville = "Ville" %>
			<% end %>

			<%= text_field 'notification_europe_partenaire[]', 'ville',
				{ :class => 'four_cell '+@class,
					:onblur => "if (this.value == '') { $(this).addClassName('blank'); this.value='Ville' };",
					:onfocus =>"if (this.value == 'Ville') { $(this).removeClassName('blank'); this.value=''; };"
				} %>
					
		<% @class = '' %>
		<% if !notification_europe_partenaire.pays.nil? %>
			<% if notification_europe_partenaire.pays.empty?  %>
				<% @class = "blank"  %>
				<% notification_europe_partenaire.pays = "Pays" %>
			<% end %>
		<% else %>
			<% @class = "blank"  %>
			<% notification_europe_partenaire.pays = "Pays" %>
		<% end %>
		
		<%= text_field 'notification_europe_partenaire[]', 'pays',
			{ :class => 'four_cell '+@class,
				:onblur => "if (this.value == '') { $(this).addClassName('blank'); this.value='Pays' };",
				:onfocus =>"if (this.value == 'Pays') { $(this).removeClassName('blank'); this.value=''; };"
			} %>
			
		<% unless controller.action_name == 'show' %>
 		<%= sub_list_remove_link notification_europe_partenaire, 'notificationEuropePartenaire' %>
		<% end %>
		</p>
</div>