<%= error_messages_for @cloture %>

<%= form_for(:cloture, :url => contrat_clotures_path) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="form-box submit" id="submit">
    <%= submit_tag "Créer la clôture" %>
    ou
    <%= link_to "Annuler", contrat_path(@contrat) %>
  </div>
<% end %>
