  <%- if @display_subtotals -%>
  <tr>
    <td colspan='<%= @colspan_totals %>'></td><td class="total-header">Sous-total</td>
    <td class="money sous-total<%= ' neg' if @subtotal_cout_mensuels < 0 %>"><%= my_number_to_currency @subtotal_cout_mensuels %></td>
    <td class="money sous-total<%= ' neg' if @subtotal_cout_periodes < 0 %>"><%= my_number_to_currency @subtotal_cout_periodes %></td>
    <td class="money sous-total<%= ' neg' if @subtotal_montant_factures < 0 %>"><%= my_number_to_currency @subtotal_montant_factures %></td>
    <td></td>
  </tr>
  <%- end -%>
  <tr>
    <td colspan='<%= @colspan_totals %>'></td><td class="total-header">Total</td>
    <td class="money total<%= ' neg' if @total_cout_mensuels < 0 %>"><%= my_number_to_currency @total_cout_mensuels %></td>
    <td class="money total<%= ' neg' if @total_cout_periodes < 0 %>"><%= my_number_to_currency @total_cout_periodes %></td>
    <td class="money total<%= ' neg' if @total_montant_factures < 0 %>"><%= my_number_to_currency @total_montant_factures %></td>
    <td></td>
  </tr>
