<h1>New notification_france_partenaire</h1>

<%= error_messages_for :notification_france_partenaire %>

<% form_for(:notification_france_partenaire, :url => notification_france_partenaires_path) do |f| %>
  <p>
    <b>Notification</b><br />
    <%= f.text_field :notification_id %>
  </p>

  <p>
    <b>Nom</b><br />
    <%= f.text_field :nom %>
  </p>

  <p>
    <b>Etablissement gestionnaire</b><br />
    <%= f.text_field :etablissement_gestionnaire %>
  </p>

  <p>
    <b>Ville</b><br />
    <%= f.text_field :ville %>
  </p>

  <p>
    <b>Pays</b><br />
    <%= f.text_field :pays %>
  </p>

  <p>
    <b>Localisation</b><br />
    <%= f.text_field :localisation %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', notification_france_partenaires_path %>