<p>
  <b>Notification:</b>
  <%=h @notification_france_partenaire.notification_id %>
</p>

<p>
  <b>Nom:</b>
  <%=h @notification_france_partenaire.nom %>
</p>

<p>
  <b>Etablissement gestionnaire:</b>
  <%=h @notification_france_partenaire.etablissement_gestionnaire %>
</p>

<p>
  <b>Ville:</b>
  <%=h @notification_france_partenaire.ville %>
</p>

<p>
  <b>Pays:</b>
  <%=h @notification_france_partenaire.pays %>
</p>

<p>
  <b>Localisation:</b>
  <%=h @notification_france_partenaire.localisation %>
</p>


<%= link_to 'Edit', edit_notification_france_partenaire_path(@notification_france_partenaire) %> |
<%= link_to 'Back', notification_france_partenaires_path %>