<p>
  <b>Soumissions:</b>
  <%=h @soumission_europe_partenaire.soumission_id %>
</p>

<p>
  <b>Nom:</b>
  <%=h @soumission_europe_partenaire.nom %>
</p>

<p>
  <b>Etablissement gestionnaire:</b>
  <%=h @soumission_europe_partenaire.etablissement_gestionnaire %>
</p>

<p>
  <b>Ville:</b>
  <%=h @soumission_europe_partenaire.ville %>
</p>

<p>
  <b>Pays:</b>
  <%=h @soumission_europe_partenaire.pays %>
</p>

<p>
  <b>Type:</b>
  <%=h @soumission_europe_partenaire.type %>
</p>


<%= link_to 'Edit', edit_soumission_europe_partenaire_path(@soumission_europe_partenaire) %> |
<%= link_to 'Back', soumission_europe_partenaires_path %>