<p>
  <b>Tutelle:</b>
  <%=h @tutelle_logo.tutelle_id %>
</p>

<p>
  <b>Logo:</b>
  <%=h @tutelle_logo.logo %>
</p>

<p>
  <b>Created at:</b>
  <%=h @tutelle_logo.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @tutelle_logo.updated_at %>
</p>


<%= link_to 'Edit', edit_tutelle_logo_path(@tutelle_logo) %> |
<%= link_to 'Back', tutelle_logos_path %>