<% if @laboratoire_subscriptions.empty? %>
	<p class="comment">Aucune équipe n'est directement rattachée au laboratoire <%= @laboratoire.nom %>.</p>
<% else %>
	<% for laboratoire_subscription in @laboratoire_subscriptions %>
		<%= add = "" %>
		<% if laboratoire_subscription.projet.date_fin < Date.today %>
			<% add = " archive" %>
		<% end %>
		<div class="small_infos_actions<%= add %>" id="laboratoire_subscription_<%= laboratoire_subscription.id %>">
			<div class="infos">
				<div class="name"><%= link_to laboratoire_subscription.projet.nom, projet_path(laboratoire_subscription.projet) %></div>
				<div class="description"><%=h laboratoire_subscription.projet.description %></div>
			</div>
			<div class="actions">
				<%= link_to_remote "Supprimer", { :url => laboratoire_subscription_path(laboratoire_subscription),  :method => :delete } %>			
			</div>
			<div style="clear:both;"></div>
		</div>
	<% end %>
	<br />
<% end %>