	<div class="select_soumission">
		<h4 class="first"><a href=""  onclick="toggle_select('soumission_select_1');return false;">Informations générales</a></h4>
		<div class="select" id="soumission_select_1" style="display:none;">
			<%= my_check_box("soumissions.contrat_type.nom", "Type de contrat").html_safe() %>
			<%= my_check_box("soumissions.date_depot", "Date de dépot").html_safe() %>
			<%= my_check_box("soumissions.nombre_mois", "Nombre de mois").html_safe() %>
			<%= my_check_box("soumissions.organisme_gestionnaire.nom", "Etablissement gestionnaire").html_safe() %>
			<%= my_check_box("soumissions.organisme_financeur", "Organisme financeur", "last").html_safe() %>
		</div>

		<h4><a href=""  onclick="toggle_select('soumission_select_2');return false;">Porteur et coordinateur</a></h4>
		<div class="select" id="soumission_select_2" style="display:none;">
			<%= my_check_box("soumissions.porteur", "Porteur").html_safe() %>
			<%= my_check_box("soumissions.etablissement_rattachement_porteur", "Etablissement de rattachement").html_safe() %>
			<%= my_check_box("soumissions.est_porteur", "Le porteur est coordinateur ?").html_safe() %>
			<%= my_check_box("soumissions.coordinateur", "Coordinateur").html_safe() %>
			<%= my_check_box("soumissions.etablissement_gestionnaire_du_coordinateur", "Etablissement gestionnaire du coordinateur", "last").html_safe() %>
		</div>

		<h4><a href=""  onclick="toggle_select('soumission_select_3');return false;">Mots clés et thématiques</a></h4>
		<div class="select" id="soumission_select_3" style="display:none;">
			<%= my_check_box("soumissions.mots_cles", "Mots clés").html_safe() %>
			<%= my_check_box("soumissions.mots_cles_libres", "Mots clés libres").html_safe() %>
			<%= my_check_box("soumissions.thematiques", "Thématiques").html_safe() %>
			<%= my_check_box("soumissions.poles_competivites", "Pôles de compétivités", "last").html_safe() %>
		</div>

		<h4><a href=""  onclick="toggle_select('soumission_select_4');return false;">Partenaires</a></h4>
		<div class="select" id="soumission_select_4" style="display:none;">
			<h5>Partenaires en France</h5>
			<%= my_check_box("soumission_france_partenaires.nom", "Nom").html_safe() %>
			<%= my_check_box("soumission_france_partenaires.laboratoire", "Laboratoire").html_safe() %>
			<%= my_check_box("soumission_france_partenaires.etablissement_gestionnaire", "Etablissement gestionnaire").html_safe() %>
			<%= my_check_box("soumission_france_partenaires.ville", "Ville").html_safe() %>
			<h5>Partenaires en Europe</h5>
			<%= my_check_box("soumission_europe_partenaires.nom", "Nom").html_safe() %>
			<%= my_check_box("soumission_europe_partenaires.etablissement_gestionnaire", "Etablissement gestionnaire").html_safe() %>
			<%= my_check_box("soumission_europe_partenaires.ville", "Ville").html_safe() %>
			<%= my_check_box("soumission_europe_partenaires.pays", "Pays").html_safe() %>
			<h5>Partenaires hors Europe</h5>
			<%= my_check_box("soumission_partenaires.nom", "Nom").html_safe() %>
			<%= my_check_box("soumission_partenaires.etablissement_gestionnaire", "Etablissement gestionnaire").html_safe() %>
			<%= my_check_box("soumission_partenaires.ville", "Ville").html_safe() %>
			<%= my_check_box("soumission_partenaires.pays", "Pays", "last").html_safe() %>
		</div>

		<h4><a href="" onclick="toggle_select('soumission_select_5');return false;">Moyens demandés</a></h4>
		<div class="select" id="soumission_select_5" style="display:none;">
			<%= my_check_box("soumissions.md_type_montant", "HT/TTC").html_safe() %>
			<%= my_check_box("soumissions.md_fonctionnement", "Fonctionnement").html_safe() %>
			<%= my_check_box("soumissions.md_equipement", "Equipement").html_safe() %>
			<%= my_check_box("soumissions.md_salaire", "Salaire").html_safe() %>
			<%= my_check_box("soumissions.md_mission", "Mission").html_safe() %>
			<%= my_check_box("soumissions.md_non_ventile", "Non ventilé").html_safe() %>
			<%= my_check_box("soumissions.md_couts_indirects", "Côuts indirects").html_safe() %>
			<%= my_check_box("soumissions.md_allocation", "Allocation").html_safe() %>
			<%= my_check_box("soumissions.md_total", "Total").html_safe() %>
			<%= my_check_box("soumissions.taux_subvention", "Taux de subvention").html_safe() %>
			<%= my_check_box("soumissions.total_subvention", "Total subvention", "last").html_safe() %>
		</div>

		<h4><a href="" onclick="toggle_select('soumission_select_6');return false;">Personnel demandés</a></h4>
		<div class="select" id="soumission_select_6" style="display:none;">
			<%= my_check_box("soumissions.pd_doctorant", "Doctorant").html_safe() %>
			<%= my_check_box("soumissions.pd_post_doc", "Post-doc").html_safe() %>
			<%= my_check_box("soumissions.pd_ingenieur", "Ingénieur").html_safe() %>
			<%= my_check_box("soumissions.pd_autre", "Autre").html_safe() %>
			<%= my_check_box("soumissions.pd_equivalent_temps_plein", "Equivalent temps plein", "last").html_safe() %>
		</div>

		<h4><a href="" onclick="toggle_select('soumission_select_7');return false;">Personnel impliqué</a></h4>
		<div class="select" id="soumission_select_7" style="display:none;">
			<%= my_check_box("soumission_personnels.nom", "Nom").html_safe() %>
			<%= my_check_box("soumission_personnels.prenom", "Prénom").html_safe() %>
			<%= my_check_box("soumission_personnels.statut", "Statut").html_safe() %>
			<%= my_check_box("soumission_personnels.tutelle", "Tutelle").html_safe() %>
			<%= my_check_box("soumission_personnels.pourcentage", "Pourcentage", "last").html_safe() %>
		</div>	
	</div>