<h1>New sous_contrat</h1>

<%= error_messages_for :sous_contrat %>

<% form_for(:sous_contrat, :url => sous_contrats_path) do |f| %>
  <p>
    <b>Entite</b><br />
    <%= f.text_field :entite_id %>
  </p>

  <p>
    <b>Entite type</b><br />
    <%= f.text_field :entite_type %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <b>Updated at</b><br />
    <%= f.datetime_select :updated_at %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sous_contrats_path %>