<% @depense_non_ventilee_facture = depense_non_ventilee_facture %>
<% @non_modifiable_facture = @depense_non_ventilee_facture.get_non_modifiables %>

<div id="<%= "depense_non_ventilee_facture_#{depense_non_ventilee_facture.id}" %>">
  
  <div class="form-box child">
    <%= "<span class='come-from-inria'>SI INRIA</span>".html_safe() if depense_non_ventilee_facture.come_from_inria? %>
    <h3>Facture</h3>
    <div class="remove_facture">
      <% if( @depense_non_ventilee_facture.verrou == 'Aucun') %>
        <%= sub_list_remove_link depense_non_ventilee_facture, 'DepenseNonVentileeFacture' %>
      <% end %>
    </div>
    <div class="clearfix">
      <div class="col-1-of-2">
        
        <p class="inline <%= "disabled" if @non_modifiable_facture.include?('date')%>">
          <label class="required">Date de facture</label><br />
          <% if @non_modifiable_facture.include?('date') %>
            <%= date_select 'depense_non_ventilee_facture[]', 
                            :date,
                            :default => nil,
                            :include_blank => true,
                            :order => [:day, :month, :year],
                            :use_month_numbers => true,
                            :disabled => true %>
          <% else %>
            <%= unobtrusive_date_picker 'depense_non_ventilee_facture[]', 
                                        :date,
                                        :include_blank => true,
                                        :use_month_numbers => true,
                                        :class => 'no-transparency',
                                        :id => "#{@depense_non_ventilee_facture.id}" %>
          <% end %>
        </p>

        <p class="inline <%= "disabled" if @non_modifiable_facture.include?('millesime')%>">
          <label>Date de service fait (millésime)</label><br />
          <% if @non_modifiable_facture.include?('millesime') %>
            <%= date_select 'depense_non_ventilee_facture[]',
                            :millesime,
                            :default => nil,
                            :include_blank => true,
                            :order => [:day, :month, :year],
                            :use_month_numbers => true,
                            :disabled => true %>
          <% else %>
            <%= unobtrusive_date_picker 'depense_non_ventilee_facture[]',
                                        :millesime,
                                        :include_blank => true,
                                        :use_month_numbers => true,
                                        :class => 'no-transparency',
                                        :id => "#{@depense_non_ventilee_facture.id}" %>
          <% end %>
        </p>

        <p <%= "class='disabled'" if @non_modifiable_facture.include?('numero_facture')%>>
          <label>N° de facture</label><br />
          <% options = ({:disabled => true} if @non_modifiable_facture.include?('numero_facture')) || {} %>
          <%= text_field 'depense_non_ventilee_facture[]', 'numero_facture', options %>
        </p>

        <p <%= "class='disabled'" if @non_modifiable_facture.include?('commentaire')%>>
          <label>Commentaire</label><br />
          <% options = ({:disabled => true} if @non_modifiable_facture.include?('commentaire')) || {} %>
          <%= text_area 'depense_non_ventilee_facture[]', :commentaire, options %>
        </p>

        <p <%= "class='disabled'" if @non_modifiable_facture.include?('numero_mandat')%>>
          <label>N° de mandat</label><br />
          <% options = ({:disabled => true} if @non_modifiable_facture.include?('numero_mandat')) || {} %>
          <%= text_field 'depense_non_ventilee_facture[]', :numero_mandat, options %>
        </p>

        <p class="inline <%= "disabled" if @non_modifiable_facture.include?('date_mandatement')%>">
          <label>Date de mandatement</label><br />
          <% if @non_modifiable_facture.include?('date_mandatement') %>
            <%= date_select 'depense_non_ventilee_facture[]', 
                            :date_mandatement,
                            :default => nil,
                            :include_blank => true,
                            :order => [:day, :month, :year],
                            :use_month_numbers => true,
                            :disabled => true  %>
          <% else %>
            <%= unobtrusive_date_picker 'depense_non_ventilee_facture[]', 
                                        :date_mandatement,
                                        :include_blank => true,
                                        :use_month_numbers => true,
                                        :class => 'no-transparency',
                                        :id => "#{@depense_non_ventilee_facture.id}" %>
          <% end %>
        </p>
        
      </div>
      <div class="col-2-of-2">
        
        <p <%= "class='disabled'" if @non_modifiable_facture.include?('cout_ht')%>>
          <label class="required">Montant Payé (HT)</label><br />
          <% options = ({:disabled => true} if @non_modifiable_facture.include?('cout_ht')) || {} %>
          <%= text_field 'depense_non_ventilee_facture[]', :cout_ht, options %>
        </p>

        <p <%= "class='disabled'" if @non_modifiable_facture.include?('taux_tva')%>>
          <label class="required">Taux de TVA</label><br />
          <% options = ({:disabled => true} if @non_modifiable_facture.include?('taux_tva')) || {} %>
          <%= select 'depense_non_ventilee_facture[]', 
                     :taux_tva,  ["0","2.1", "5.5", "19.6"],
                     {},
                     options %>
        </p>

        <p <%= "class='disabled'" if @non_modifiable_facture.include?('montant_htr')%>>
          <label>Montant Payé (HTR)</label><br />
          <% options = ({:disabled => true} if @non_modifiable_facture.include?('montant_htr')) || {} %>
          <%= text_field 'depense_non_ventilee_facture[]', :montant_htr, options %>
        </p>

        <p <%= "class='disabled'" if @non_modifiable_facture.include?('justifiable')%>>
          <label>Justifiable</label><br />
          <% options = ({:disabled => true} if @non_modifiable_facture.include?('justifiable')) || {} %>
          <%= select 'depense_non_ventilee_facture[]', 
                     :justifiable, ["","Possible","Impossible","Utilisée","Refusée"],
                     {},
                     options %>                 
        </p>

        <p <%= "class='disabled'" if @non_modifiable_facture.include?('rubrique_comptable_id')%>>
          <label>Rubrique Comptable</label><br />
          <% options = ({'disabled' => true} if @non_modifiable_facture.include?('rubrique_comptable_id')) || {} %>
          <%= select 'depense_non_ventilee_facture[]', 
                     :rubrique_comptable_id, 
                     options_for_rubrique_comptables(RubriqueComptable.find(:all, :order => 'numero_rubrique')),
                     {},
                     options %>
        </p>
      
      </div>
    </div>
  </div>
</div>

<%- if controller.action_name.to_s == "add_depense_non_ventilee_facture" -%>
  <script type="text/javascript">
    datePickerController.create();
  </script>
<%- end -%>