<div class="form-box parent" style="margin-bottom:0;">
  <%= "<span class='come-from-inria'>SI INRIA</span>".html_safe() if @depense_non_ventilee.come_from_inria? %>
  <h3>Demande d'achat</h3>
  <div class="clearfix">
    <div class="col-1-of-2">
      
      <p <%= "class='disabled'" if @non_modifiables.include?('reference')%>>
        <label for="depense_non_ventilee_reference">Référence</label><br />
        <% options = ({:disabled => true} if @non_modifiables.include?('reference')) || {} %>
        <%= text_field :depense_non_ventilee, :reference, options %>
      </p>

      <p class="inline <%= "disabled" if @non_modifiables.include?('date_commande')%>">
        <label class="required">Date commande</label><br />
        <% if @non_modifiables.include?('date_commande') %>
          <%= f.date_select :date_commande,
                            :use_month_numbers => true, 
                            :order => [:day, :month, :year],
                            :disabled => true %>
        <% else %>
          <%= f.unobtrusive_date_picker :date_commande , :use_month_numbers => true, :class => 'no-transparency' %>
        <% end %>
      </p>

      <p <%= "class='disabled'" if @non_modifiables.include?('reference')%>>
        <label for="depense_non_ventilee_fournisseur">Fournisseur</label><br />
        <% if @non_modifiables.include?('fournisseur') %>
          <%= f.text_field :fournisseur, :disabled => true %>
        <% else %>
          <%= text_field_with_auto_complete :depense_non_ventilee, :fournisseur, {:class => "textfield"},
                                            {:frequency => 0.1, :partialSearch => true, :skip_style => true } %>
        <% end %>
      </p>

      <p <%= "class='disabled'" if @non_modifiables.include?('structure')%>>
        <label for="depense_non_ventilee_structure">Structure</label><br />
        <% options = ({:disabled => true} if @non_modifiables.include?('structure')) || {} %>
        <%= f.text_field :structure, options %>
      </p>

      <p <%= "class='disabled'" if @non_modifiables.include?('commentaire')%>>
        <label for="depense_non_ventilee_commentaire">Commentaire</label><br />
        <% options = ({:disabled => true} if @non_modifiables.include?('commentaire')) || {} %>
        <%= f.text_area :commentaire, options %>
      </p>
      
    </div>
    <div class="col-2-of-2">
    
      <p <%= "class='disabled'" if @non_modifiables.include?('montant_engage')%>>
        <label for="depense_non_ventilee_montant_engage" class="required">Montant engagé</label><br />
        <% options = ({:disabled => true} if @non_modifiables.include?('montant_engage')) || {} %>
        <%= f.text_field :montant_engage, options %>
      </p>

      <p <%= "class='disabled'" if @non_modifiables.include?('intitule')%>>
        <label for="depense_non_ventilee_intitule" class="required">Intitulé</label><br />
        <% options = ({:disabled => true} if @non_modifiables.include?('intitule')) || {} %>
        <%= f.text_area :intitule, options %>
      </p>

      <p <%= "class='disabled'" if @non_modifiables.include?('commande_solde')%>>
        <% options = ({:disabled => true} if @non_modifiables.include?('commande_solde')) || {} %>
        <%= f.check_box :commande_solde, options %>
        <label for="depense_non_ventilee_commande_solde">Commande soldée ?</label><br/> 
      </p>

      <p <%= "class='disabled'" if @non_modifiables.include?('montant_engage')%>>
        <% options = ({:disabled => true} if @non_modifiables.include?('montant_engage')) || {} %>
        <%= check_box_tag 'ajuster_montant', "1", false, options %>
        <label for="ajuster_montant">Ajuster le montant engagé en fonction des factures saisies</label>       
      </p>
      
      <div class="col-1-of-2" >
        <p <%= "class='disabled'" if @non_modifiables.include?('compte_budgetaire')%>>
          <label for="depense_non_ventilee_compte_budgetaire">Compte Budgétaire</label><br />
          <% options = ({:disabled => true} if @non_modifiables.include?('compte_budgetaire')) || {} %>
          <%= f.text_field :compte_budgetaire, options %>
        </p>
      </div>
      <div class="col-2-of-2">
        <p <%= "class='disabled'" if @non_modifiables.include?('code_analytique')%>>
          <label for="depense_non_ventilee_code_analytique">Code Analytique</label><br />
          <% options = ({:disabled => true} if @non_modifiables.include?('code_analytique')) || {} %>
          <%= f.text_field :code_analytique, options %>
        </p>
      </div>
      <p <%= "class='disabled'" if @non_modifiables.include?('code_projet')%>>
        <label for="depense_non_ventilee_code_projet">Code Projet</label><br />
        <% options = ({:disabled => true} if @non_modifiables.include?('code_projet')) || {} %>
        <%= f.text_field :code_projet, options %>
      </p>
    </div>
  </div>
</div>

<div id="justification-data" <%= 'style="display:none;"'.html_safe() if @user_preferences_show_justifacation_data == 'no' %>>
  <div class="form-box sub-parent">
    <h3>Justification</h3>
    <div class="clearfix">
      <div class="col-1-of-2">

        <p <%= "class='disabled'" if @non_modifiables.include?('tache')%>>
          <label for="depense_non_ventilee_tache">Nom de la tâche imputée</label><br />
          <% options = ({:disabled => true} if @non_modifiables.include?('tache')) || {} %>
          <%= f.text_field :tache, options %>
        </p>

        <p <%= "class='disabled'" if @non_modifiables.include?('eligible')%>>
          <% options = ({:disabled => true} if @non_modifiables.include?('eligible')) || {} %>
          <%= f.check_box :eligible, options %>
          <label for="depense_non_ventilee_eligible">Commande éligible ?</label><br/> 
        </p>
        
      </div>
      <div class="col-2-of-2">
        <div <%= "class='disabled'" if @non_modifiables.include?('type_activite')%> style='padding-bottom:10px;'>
          <% options = ({:disabled => true} if @non_modifiables.include?('type_activite')) || {} %>
          <label>Type d'activité</label><br />
          <div class="two_col">
            <%= f.radio_button :type_activite, "R&D", options %>
            <label for="depense_non_ventilee_type_activite_rd">R&amp;D</label><br />

            <%= f.radio_button :type_activite, "Démonstration", options %>
            <label for="depense_non_ventilee_type_activite_démonstration">Démonstration</label><br />

            <%= f.radio_button :type_activite, "Training", options %>
            <label for="depense_non_ventilee_type_activite_training">Training</label>
          </div>
          <div class="two_col">
            <%= f.radio_button :type_activite, "Management", options %>
            <label for="depense_non_ventilee_type_activite_management">Management</label><br />

            <%= f.radio_button :type_activite, "Autre", options %>
            <label for="depense_non_ventilee_type_activite_autre">Autre</label>
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form sub-parent-toggle-container">
  <a href="#" id="toggle-justification">
    <%- if @user_preferences_show_justifacation_data == 'no' -%>
      Afficher les données de justification
    <%- else -%>
      Masquer les données de justification
    <%- end -%>
  </a>
</div>





<div>
  <% if controller.action_name != 'new' && controller.action_name != 'create' %>
    <%= sub_list_content 'DepenseNonVentileeFacture', 'depense_non_ventilee' %>
    <%= sub_list_add_link 'depense_non_ventilee_facture', 'Ajouter une facture' %>
  <% end %>
  <div style="clear:both;"></div>
</div>

<script type="text/javascript">
  new App.Budget.ToggleJustificationData();
</script>
