<tr class="factures">
  <th></th>
  <th></th>
  <th  colspan="2" class="first">N° de facture</th>
  <th>Date</th>
  <th colspan="3">N° de mandat et date</th>
  <th>Justifiable</th>
  <th>Rubrique</th>
  <th>Tiers R&eacute;gl&eacute;</th>
  <th class="money">Coût Projet</th>
  <%- if @ligne.contrat.is_budget_editable? current_user -%>
  <th class="actions">&nbsp;</th>
  <%- end -%>
</tr>
<%-
  case @type_montant.to_s
	when "htr" then cout_facture = "montant_htr"
	when "ht" then cout_facture = "cout_ht"
	when "ttc" then cout_facture = "cout_ttc"
  end
-%>
<% for facture in @depense_mission.depense_mission_factures %>
      <tr class="factures">
      <td></td>
      <%
      verrou_class = 'no-verrou'
      verrou_class = 'verrou' if facture.come_from_inria?
      %>
      <td class="<%= verrou_class %> "></td>
      <td  colspan="2" class="first"><abbr title="<%= facture.numero_facture %>"><%= truncate(facture.numero_facture, :length =>25, :ommission => '...') %></abbr></td>
			<td><%= french_small_date facture.date %>
      <% if !facture.millesime.blank? %>
      <br/>(<%= facture.millesime.year %>)
      <% end %>
      </td>
      <td colspan="2"><abbr title="<%= facture.numero_mandat %>"><%= truncate(facture.numero_mandat,:length => 25, :ommission => '...') %></abbr></td>
      <td>
        <% if !facture.date_mandatement.blank? %>
          <%= french_small_date facture.date_mandatement %>
        <%end%>
      </td>
      <td><%= facture.justifiable %></td>
      <td><%= facture.rubrique_comptable.small_intitule %></td>
      <td><abbr title="<%= facture.fournisseur %>"><%= truncate(facture.fournisseur,:length =>15, :ommission => '...') %></abbr></td>
      <td class="money"><%= my_number_to_currency facture.send(cout_facture) %></td>
      <%- if @ligne.contrat.is_budget_editable? current_user -%>
        <td class="actions_depenses">&nbsp;</td>
      <%- end -%>
    </tr>
<% end %>
<tr class="sep"><td colspan='9'></td></tr>
