<%= error_messages_nested_resources_for @depense_mission %>

<%= form_for([@ligne, @depense_mission]) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f} %>
  <div class="form-box submit">
    <%= f.submit "Créer la mission" %> ou <%= link_to 'Annuler', ligne_depense_missions_path(@ligne) %>
  </div>
<% end %>